.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid section {
  text-align: center;
  background-color: #f9c2d1;
  border: 1px solid #d96ce2;
  border-radius: 20px;
  box-shadow: 10px 5px 5px gray;
}

.grid img {
  width: auto;
  height: 80px;
  margin: 25px;
}

.selector {
  text-align: center;
  margin-right: 20px;
  width: 100%;
  padding: 10px;
  border: solid 1px black;
  background-color: #d96ce2;
  color: var(--font-style);
}

.selector button {
  height: 40px;
  width: 60px;
  font-weight: 700;
  padding: 1rem;
  background-color: #f9c2d1;
  color: var(--font-style);
  border: 1px solid #d96ce2;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #fff8f9;
}

.list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.25rem;
  border: solid 1px #d96ce2;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none;
}

.list section h3 {
  font-size: 1rem;
  font-family: "roboto-slab-", serif;
  color: var(--font-style);
}

.list section:nth-child(even) {
  background-color: #f9c2d1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}

.card section {
  background-color: #f9c2d1;
  border: 1px solid #d96ce2;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
