main {
  background-color: var(--light-color);
}

.first {
  background-color: #5e2b7b;
  text-align: center;
  color: #ffd700;
  border: 1px solid #2c3e50;
  padding: 1rem;
  margin: 0;
}

.hero-container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.hero-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.greeting {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  text-align: center;
  width: 70%;
  border-radius: 10px;
  font-size: 1rem;
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.cta button {
  background-color: #ffd700;
  color: #5e2b7b;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta button:hover {
  background-color: #e6c200;
}

.today {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1500px;
  margin: auto;
  text-align: center;
}

section {
  background-color: white;
  box-shadow: 6px 3px 4px gray;
  font-family: "Roboto", sans-serif;
  margin: 4px;

  border: 1px solid #d96ce2;
}

section .box-header {
  background-color: var(--secondary-color);
  color: black;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

.events {
  text-align: center;
  border: none;
}
.weather-wrapper {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-color);
  box-shadow: none;
}

.weather-wrapper img {
  height: 100px;
  width: auto;
}

.weather-wrapper span,
.for-weather span {
  font-size: 1.4em;
  color: #000;
  line-height: 1.5;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  background-color: var(--light-color);
  max-width: 1500px;
  box-shadow: none;
  border: none;
}

.cards section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  background-color: var(--light-color);
  border: 1px solid #d96ce2;
  border-radius: 20px;
  box-shadow: 10px 5px 5px gray;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0px;
  padding: 10px;
}

.cards h2 {
  grid-column: 1/3;
  text-align: center;
  font-size: 2em;
}

.cards img {
  width: auto;
  height: 100px;
  margin: 25px;
}
