.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid section {
  text-align: center;
  background-color: var(--secondary-color);
  grid-gap: 5px;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 10px 5px 5px gray;
}

.grid img {
  width: auto;
  height: 80px;
  margin: 25px;
}

.selector {
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  padding: 50px;
}

.selector button {
  margin: 0px;
  height: 40px;
  width: 60px;
  font-weight: 700;
  padding: 1rem;
}

.selector {
  display: block;
  background-color: #84a59d;
  max-width: 100%;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
  border: solid 1px gray;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none; /* smaller viewports only */
}

.list section h3 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
  background-color: #bed;
}
